@import "tailwindcss";

:root {
  --background: #ffe1c4;
  --foreground: #fff4df;
}

@theme inline {
  --color-light-bg: var(--background);
  --color-light-fg: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);

  --animate-fade-border: fade-in 0.5s forwards;

  @keyframes fade-in {
    0% {
      border-color: transparent;
    }
    100% {
      border-color: white;
    }
  }

  --animate-logo: move-logo 0.75s forwards;

  @keyframes move-logo {
    0% {
      bottom: -0.20em;
      opacity: 0;
    }
    50% {
      bottom: 0.2em;
      opacity: 1;
    }
    100% {
      bottom: 0;
      opacity: 1;
    }
  }
  
  --animate-appear: appear 0.6s ease-in-out;
  @keyframes appear {
    from {
      opacity: 0;
      /* transform: translateX(-100%); */
    }
    to {
      opacity: 1;
      /* transform: translateX(0); */
    }
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #ffe1c4;
    --foreground: #fff4df;
  }
}